# 默认忽略的文件
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.QTTabBar Rebirth.iml
/modules.xml
# 数据源本地存储已忽略文件
/../../../../../../:\SVN\qttabbar\.idea\.idea.QTTabBar Rebirth\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
