<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.6.0" targetFramework="net40" developmentDependency="true" />
  <package id="Hotfix.Fody.Pdb" version="1.0.0.1" targetFramework="net40" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="3.4.0" targetFramework="net40" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.7.1" targetFramework="net48" />
  <package id="UTF.Unknown" version="2.7.0" targetFramework="net48" />
  <package id="Virtuosity.Fody" version="3.1.1" targetFramework="net40" />
</packages>