<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

    <Bundle Name="QTTabBar 1.5.6.1"
            Version="1.5.6.1"
            Manufacturer="indiff"
            UpgradeCode="{6E6EAFA9-B39E-4A2F-88A0-E52B365F33D8}"
            IconSourceFile="QTTabBar.ico">

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseFile="GPL3.rtf"
                ShowFilesInUse="yes"
                ShowVersion="yes" />
        </BootstrapperApplicationRef>

        <Chain>
            <!-- Download and install .NET Framework 4.8 if not already present -->
            <PackageGroupRef Id="NetFx48Web" />

            <!-- QTTabBar MSI (built from Installer.wixproj) -->
            <MsiPackage Id="QTTabBarInstaller"
                        SourceFile="bin\Release\en-US\QTTabBar Setup.msi"
                        Vital="yes"
                        DisplayInternalUI="no" />
        </Chain>
    </Bundle>
</Wix>
